.nav{
    background-color: rgb(22, 116, 210);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}
.navBtn{
    display: flex;
    gap: 5px;
    padding: 10px;
}
.title{
    padding-left: 10px;
    font-size: 3rem;
    margin: 0;
}

#body{
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.836);
}