
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.input-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-group{
   display: flex;
   gap: 10px;
}

.mat-form-field {
    width: 30rem;
}